<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--STRING CONNECTION'S BDD-->
    <add key="StringConnection" value="DATA SOURCE=10.10.20.1:1521/prod;PERSIST SECURITY INFO=True;USER ID=DM_TRANSFER_WEB;Password=dm_ventas" />
    <add key="StringConnectionVentas" value="DATA SOURCE=10.10.20.1:1521/prod;PERSIST SECURITY INFO=True;USER ID=DM_VENTAS;Password=dimerc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--CARPETAS DE PROCESADO-->
    <add key="CarpetaOrdenesProcesar" value="C:\Proyectos\Integración PDF\C#\Procesar\" />
    <add key="CarpetaOrdenesProcesarDavilaAnexo" value="C:\Proyectos\Integración PDF\C#\Procesar\DavilaAnexos\" />
    <add key="CarpetaOrdenesProcesarExcel" value="C:\Proyectos\Integración PDF\C#\Procesar\Excel\" />
    <add key="CarpetaOrdenesProcesadas" value="C:\Proyectos\Integración PDF\C#\Procesadas\" />
    <add key="CarpetaLog" value="C:\Proyectos\Integración PDF\C#\Procesadas\Log\" />
    <add key="UnknownFile" value="C:\Proyectos\Integración PDF\C#\UnknownFile\"/>
    <!--SISTEMA-->
    <add key="TiempoCicloHoras" value="0" />
    <add key="TiempoCicloMinutos" value="5" />
    <add key="SendPopupTlmk" value="true" />
    <add key="SendEmailEjecutivo" value="false" />
    <add key="FolderByRut" value="true" />
    <!--CORREOS-->
    <add key="HostEmailFrom" value="mta.gtdinternet.com" />
    <add key="PortEmailFrom" value="25" />
    <add key="SendEmailFrom" value="procesosxml@dimerc.cl" />
    <add key="PasswordEmailFrom" value="password_123" />
    <add key="MainEmail" value="mzapata@ofimarket.cl;apardo@ofimarket.cl" />
    <add key="EmailCC" value="procesosxml@dimerc.cl;lzuniga@dimerc.cl;fcamposano@ofimarket.cl" />
    <!--DEBUG SISTEMA DE PDF-->
    <add key="Debug" value="true" />
    <add key="ShowDebug" value="true" />
    <add key="4CBB5800F36B" value="apardo@ofimarket.cl"/>
    <add key="1002B5C4275F" value="mzapata@ofimarket.cl"/>
    <!-- 4CBB5800F36B -->
    <!--ASDASDAS-->
  </appSettings>
</configuration>